.display-reminder-header {
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(203, 71, 23);
    text-shadow: 3px 3px 5px rgb(6, 9, 83);
}

.listofbirth{
    white-space: pre-line;
    color: rgb(203, 71, 23);
    text-shadow: 3px 3px 5px rgb(6, 9, 83);
    margin-left: 20px;
    text-transform: capitalize;
}